<%= render "header" %>
<% 
  items_per_column = @artworks.length == 25 ? 6 : (@artworks.length / 4.0).ceil # TODO: calculate reminder for more even columns
%>
<div class="flex justify-center">
  <% if@artworks.length == 0 and @has_filters %>
    <div class="flex flex-col items-center pt-4">
      <div class="mb-4">No artworks matches your criteria.</div>
      <%= link_to root_path, class: "tw-btn-primary" do %>
        Clear all filters
      <% end %>
    </div>
  <% end %>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 ">
    <% @artworks.each_with_index do |artwork, index| %>
      <% if index % items_per_column == 0 %>
        <div class="grid gap-4 content-baseline">
        <% end %>
        <%= render "main/artwork", artwork: artwork %>
        <% if index % items_per_column == items_per_column - 1 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
<div class="flex w-full justify-center">
  <%= paginate @artworks %>
</div>